.page-title {
    margin: 2em auto 1em;
    text-align: center;
    text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
    .page-title {
        font-size: 6rem;
    }
}

.backgroundcliptext .page-title.loading {
	-webkit-background-clip: text;
	background-image: -webkit-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-image: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	-webkit-text-fill-color: transparent;
	-webkit-animation: rainbow 8s ease infinite;
	background-size: 1000% 1000%;
	-z-animation: rainbow 8s ease infinite;
	-o-animation: rainbow 8s ease infinite;
	animation: rainbow 8s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
